* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: lightgray
}

.reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
}

.win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    color: white;
}

button {
    background-color: gray;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    font-size: 3em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}

header {
    padding: 40px;
    text-align: center;
    background: #1A3E4C;
    color: #efff;
    border-bottom: 30px #879274;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0  auto;
    padding: 8px;
    margin-top: 50px;
    background-color: slategray;
    border-radius: 8px;
}

.word-guess {
    width: 55vw;
    height: 400px;
    color: white;
}

.results {
    width: 30vw;
    height: 400px;
}

.card {
    background: radial-gradient(circle, rgba(26,62,76,1) 0%, rgba(83,110,121,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: grey;
    margin: auto;
    padding: 20px;
}

.word-blanks {
    line-height: 360px;
}

.large-font {
    font-size: 3.5em;
    text-align: center;
}

.timer {
    height: 240px;
    padding: 10px;
    background: #1A3E4C;
    color: #efff;
    text-align: center;
}

.timer-text {
    padding: 55px;
}

footer {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: white;
  }
  footer, a:link, a:visited {
    text-decoration: none;
  }

@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
}